<div class="wrapper">
  <div class="image">
    <% @messages.each do |message| %>
      <%= "投稿者 #{message.user.nickname}" %>
      <%= message.created_at %>
      <% if user_signed_in? && current_user.id == message.user_id %>
        <%= link_to '削除', message_path(message.id), method: :delete %>
      <% end %>
      <%= message.content %>
      <div>
        <% message.images.each do |image| %>
          <%= link_to message_path(message.id) do %>
            <%= image_tag image, class:'images' %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="twitter">
    <a class="twitter-timeline" data-lang="ja" data-width="300" data-theme="dark" href="https://twitter.com/kamikazenohiro1?ref_src=twsrc%5Etfw">Tweets by kamikazenohiro1</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>