<h3>トップページ</h3>
<% if user_signed_in? %>
  <%= "#{current_user.nickname}さんは、ログインしています" %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  <h3><%= link_to '新規投稿', new_message_path%></h3>
<% else %>
  <%= link_to "新規登録", new_user_registration_path  %>
  <%= link_to "ログイン", new_user_session_path %>
<% end %>

<% @messages.each do |message| %>
  <%= message.content%>
  <div class="messages">
    <% message.images.each do |image| %>
      <%= image_tag image, class:'images' %>
    <% end %>
  </div>
<% end %>

  <%#= link_to '編集', edit_message_path(message.id)%>