<!DOCTYPE html>
<html>
  <head>
    <title>MiniImageApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      a {
        text-decoration: none ;
      }
    </style>
  </head>

  <body>
    <header>
      <div class="heading">
        <h2><%= link_to 'ゲーム画像置き場', root_path %></h2>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
          <% if user_signed_in? %>
            <%= link_to '新規投稿', new_message_path %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "ログイン", new_user_session_path %>
            <%= link_to "新規登録", new_user_registration_path  %>
          <% end %>
        </ul>
      </div>
      <% if user_signed_in? %>
        <div class="current_user">
          <%= "#{current_user.nickname}さん！ようこそ！" %>
        </div>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
